body {
  font-family: 'helvetica neue';
  padding: 40px;
}

h1 {
  font-family: "Arvo";
  font-size:35px;
  color: #464646;
  margin: 0px;
  padding: 0px;
}

#year-chart {
  padding-bottom: 20px;
}

p:first-of-type {
  padding-bottom: 20px;
}

.container {
  display: flex;
  /*border: 1px solid red;*/
  padding-bottom: 20px;
}

.container > p {
  /*border: 1px solid mediumaquamarine;*/
  display: flex;
  flex: 1;
  padding-right: 50px;
  align-items: center;
}

.container > div {
  /*border: 1px solid mediumaquamarine;*/
  flex: 3;
}

nav {
  background:white;
  top:0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}

.fixed-nav nav {
  opacity: 0.95;
  position: fixed;
}

.info {
  font-size: 18px;
}

.tile {
  stroke: #FFF;
  stroke-width: 4;
}

.yeartext, .tilestext, .brushtext {
  text-anchor:middle;
  font-size: 24px;
  fill: #565656;
  stroke-width: 0.1px;
  /*stroke: #e5e5e5;*/
}

.electoralVotesNote, .votesPercentageNote {
  text-anchor:middle;
  font-size: 24px;
}

.electoralVoteText, .votesPercentageText {
  font-size: 35px;
}

.end {
  text-anchor:end;
}

.nomineeInfoText {
  font-size: 36px;
}

.Axis {
  stroke: #eee;
  stroke-width: 4;
}

.content {
  display: inline-block;
  width: 70%;
}

.sideBar {
  display: inline-block;
  width: 30%;
  float:right;
}

.electoralVotes {
  stroke: #eee;
}

.middlePoint {
  stroke: #eee;
}

.fullView {
  display: inline-block;
  width: 100%;
}

.yearChart {
  stroke: #FFF;
}

.lineChart {
  stroke:#000;
  stroke-dasharray: 4;
}

.republican {
  fill: #de2d26;
  color: #de2d26;
  text-anchor:end;
}

.democrat {
  fill: #3182bd;
  text-anchor:start;
  color: #3182bd;
}

.independent {
  fill: #45AD6A;
  color: #45AD6A;
  text-anchor:start;
}

.votesPercentage {
  stroke: #eee;
}

.highlighted {
  stroke: #404040;;
  stroke-width:4;
}

.brush .selection {
  fill-opacity: .5;
}

.selected {
  stroke: #404040;;
  stroke-width:4;
  r:25px;
}


h2 {
  -webkit-margin-before: 5px;
  -webkit-margin-after:  5px;
}

.d3-tip {
  /*line-height: 5;*/
  padding-left: 10px;
  padding-right: 10px;
  min-width: 400px;
  border-style: groove;
  /*padding: 12px;*/
  background: #FFFFFF;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  pointer-events: none;
}

.tooltip-title {
  font-size:18px;
  font-family: "Arial Black";
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  /*box-sizing: border-box;*/
  display: inline;
  font-size: 10px;
  width: 100%;
  /*line-height: 1;*/
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  /*margin: -1px 0 0 0;*/
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\26A0";
  /*margin: -4px 0 0 0;*/
  top: -800px;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  /*margin: 4px 0 1px 0;*/
  top: -8px;
  left: 1481px;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  /*margin: -4px 0 0 -1px;*/
  top: 50%;
  left: 100%;
}

h3 {
  text-anchor:middle;
  font-size: 32px;
}

@media (max-width: 960px) {
  .container {
    flex-direction: column;
  }
}
